@tailwind base;
@tailwind components;
@tailwind utilities;

.big-icon {
   font-size: 2rem;
   @apply text-primary-900;
 }

 .small-icon {
   font-size: 1.7rem;
   @apply text-primary-900;
 }

 li::marker{
    color: #7E2E84;
 }

 .navItem{
   @apply text-accent-900 decoration-accent-900 decoration-2 underline-offset-4
 }

 .navItemSelected{
   @apply underline font-subtitles text-primary-900 decoration-accent-900 decoration-2 underline-offset-2
 }

@font-face {
   font-family: Poppins-Regular;
   src: url('/src/assets/fonts/Poppins-Regular.ttf');
}
@font-face {
   font-family: Poppins-semiBold;
   src: url('/src/assets/fonts/Poppins-SemiBold.ttf');
}
@font-face {
   font-family: Poppins-Bold;
   src: url('/src/assets/fonts/Poppins-Bold.ttf');
}
