@tailwind base;
@tailwind components;
@tailwind utilities;

.big-icon {
   font-size: 2rem;
   @apply text-primary-900;
 }

 .small-icon {
   font-size: 1.7rem;
   @apply text-primary-900;
 }

 li::marker{
    color: #7E2E84;
 }

 .navItem{
   @apply text-accent-900 decoration-accent-900 decoration-2 underline-offset-4 text-base
 }

 .navItemSelected{
   @apply underline font-subtitles text-primary-900 decoration-accent-900 decoration-2 underline-offset-2
 }

 .navItemDesktop{
   @apply text-base transform hover:scale-150  hover:text-primary-900 hover:font-subtitles tracking-wider transition duration-100 ease-in-out
 }

 .navItemSelectedDesktop{
  @apply underline font-subtitles text-primary-900 decoration-accent-900 decoration-2 underline-offset-2 text-lg
}

 .navIcon{
   @apply transform hover:scale-150  hover:text-accent-900 transition duration-100 ease-in-out
 }

@font-face {
   font-family: Poppins-Regular;
   src: url('/src/assets/fonts/Poppins-Regular.ttf');
}
@font-face {
   font-family: Poppins-semiBold;
   src: url('/src/assets/fonts/Poppins-SemiBold.ttf');
}
@font-face {
   font-family: Poppins-Bold;
   src: url('/src/assets/fonts/Poppins-Bold.ttf');
}
